@import 'nib'

global-reset()

body
  text-align center

buttonize(padding = 10px, margin = 10px)
  margin margin
  border-radius 15px
  padding padding
  background #999
  color #fff

.hello_button
  buttonize 15px 30px
  display inline-block



